# Using kube-prometheus-stack with reduced resources
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-install
  namespace: monitoring
data:
  install.sh: |
    #!/bin/bash
    helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
    helm repo update
    helm upgrade --install prometheus prometheus-community/kube-prometheus-stack \
      --namespace monitoring \
      --create-namespace \
      --set prometheus.prometheusSpec.resources.requests.memory=400Mi \
      --set prometheus.prometheusSpec.resources.limits.memory=800Mi \
      --set alertmanager.alertmanagerSpec.resources.requests.memory=100Mi \
      --set alertmanager.alertmanagerSpec.resources.limits.memory=200Mi \
      --set grafana.resources.requests.memory=100Mi \
      --set grafana.resources.limits.memory=200Mi \
      --set prometheus-node-exporter.resources.requests.memory=50Mi \
      --set prometheus-node-exporter.resources.limits.memory=100Mi
