apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  # ArgoCD installation (lightweight)
  - https://raw.githubusercontent.com/argoproj/argo-cd/v2.9.3/manifests/install.yaml

patches:
  # Reduce ArgoCD resource usage for 8GB RAM systems
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 256Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 128Mi
    target:
      kind: Deployment
      name: argocd-server

  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 256Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 128Mi
    target:
      kind: Deployment
      name: argocd-repo-server

  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 256Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 128Mi
    target:
      kind: StatefulSet
      name: argocd-application-controller

